{% extends 'base.html' %}

{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
        <form action="/signup" method="POST">
            <table>
                <tbody><tr>
                    <td>
                        <label for="username">Username</label>
                    </td>
                    <td>
                        <input name="username" type="text" value="{{username}}">
                        <span class="error">{{user_error}}</span>
                        <span class="error">{{duplicate_error}}</span>
                    </td>
                </tr>             
                
                <tr>
                    <td>
                        <label for="password">Password</label>
                    </td>
                    <td>
                        <input name="password" type="password">
                        <span class="error">{{pass_error}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="verify">Verify Password</label>
                    </td>
                    <td>
                        <input name="verify" type="password">
                        <span class="error">{{verify_error}}</span>                        
                    </td>
                </tr>
                
            </tbody></table>
            <input type="submit" value="Sign Up">
        </form>
    


{% endblock %}